.App {
  background-image: url('./images/zen2.png');
  background-color: rgb(245, 237, 227);
  text-align: center;
}

li {
  background-color: rgb(245, 237, 227);
  margin: 1rem 1rem 1rem 40rem;
  border-radius: 5px;
  padding: 1rem;
  max-width: 30rem;
}